@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Bodoni Moda", serif;
  color: #33334e;
  background-color: #fef5dc;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  list-style: none;
}

a {
  text-decoration: none;
}

li:focus {
  border: none;
  outline: none;
}

button:focus,
input:focus {
  outline: none;
}
